@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Ephesis&family=Heebo:wght@400;600;700;800&family=Kanit:wght@500&family=Pacifico&family=Protest+Riot&family=Protest+Strike&family=Smooch&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
    color: white !important;
    height: 100%;
    scroll-behavior: smooth;
    /* background: linear-gradient(#7e0001, #ce4040); */
    background: linear-gradient(hsla(0, 100%, 25%, 0.5), hsla(0, 59%, 53%, 0.8)), url('https://source.unsplash.com/random/?cake,meals,burger') center center fixed no-repeat;
    background-size: cover;

}

header {
    background-color: transparent;
    padding: 0 30px;
    transition: background-color 0.2s ease-in-out;
}

.change_header {
    z-index: 10;
    position: fixed;
    width: 100%;
    box-shadow: 20px 0 20px gray;
    background-color: rgb(53, 53, 53);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
nav a img{
    width: 120px;
    height: auto;
   filter: drop-shadow(0 0 20px white);
   animation: leftslide 1.5s ease forwards;
}
main{
    z-index: 5;
}

@keyframes leftslide {
    0% {
        opacity: 0;
        transform: translateX(-100px);

    }

    100% {
        opacity: 1;
        transform: translateX(0px);

    }
}

form {
    animation: rigthslide 1.5s ease forwards;
    transform: translateX(100px);
}

@keyframes rigthslide {
    0% {
        opacity: 0;
        transform: translateX(100px);

    }

    100% {
        opacity: 1;
        transform: translateX(0px);

    }
}

header nav a {
    text-decoration: none;
}

form .Searchbar {
    width: 20rem;
    padding: 5px 20px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
}

form .Searchbar::placeholder {
    color: black;
    font-weight: 600;
}

form .Searchbtn {
    /* width: 100px; */
    padding: 5px 20px;
    background-color: #7e0001;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;

}

form .Searchbtn:hover {
    background-color: #ce4040;
}

.recipe-container h2 {
    margin-top: 20px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700 !important;
}

.recipe-container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px 50px;
}


.recipe-block {
    text-align: center;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.recipe-block h5 {
    font-weight: 700;
    opacity: 0;
    animation: sliderigth 1.2s ease forwards;
    transform: translateY(-50px);

}

@keyframes sliderigth {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}

.recipe-block h3 {
    font-weight: 700;
    line-height: 45px;
    font-size: 5vmin;
    animation: buttomslide 2s ease forwards;
    transform: translateY(50px);

}

@keyframes buttomslide {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}

.recipe-block p span {
    font-size: 25px;
    color: #ffffff;

}

.recipe-block p {
    color: yellow;
    font-weight: 550;
    letter-spacing: 2px;
    margin: 10px 0;
    animation: lifeside 1.5s ease forwards;
    transform: translateX(-100px);
}

@keyframes lifeside {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }

}

.recipe-block .text_fur {
    color: yellow;
    font-weight: 600;
    font-size: 25px;

}

.divadd {
    width: 20vw;
    border: 1px solid white;
    margin: 15px 5px;
    background: linear-gradient(#fcdcdc, #ffffff);
    color: black;
    padding: 10px 10px;
    border-radius: 13px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.divadd:hover {
    box-shadow: 0 0 20px rgb(49, 49, 49);
    transform: scale(1.02);
}

.divadd img {
    width: 100%;
    height: auto;
    border-radius: 13px;
    /* position: absolute; */
}

.divadd img:hover {
    transform: scale(1.02);
}

.divadd h3 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px 0;
    color: red;
    font-size: 1.5rem;
}

.divadd h5 {
    text-transform: uppercase;
}

.divadd h5 span {
    color: rgb(58, 58, 58);
    font-weight: 700;

}

.divadd h6 {
    font-weight: 600;
    color: rgb(58, 58, 58);
}

.divadd h6 span {
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(19, 19, 19);
}

.divadd button {
    margin: 15px 0 5px;
    cursor: pointer;
    background-color: #7e0001;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    border: none;
    transition: 0.2s ease-in-out;
}

.divadd button:hover {
    background-color: #ce4040;
    box-shadow: 0 0 10px #7e0001;
}

/* recipe-detail */
.recipe-detail {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: saddlebrown;
    width: 35%;
    height: 65%;
    border-radius: 20px;
    font-size: 20px;
    overflow-y: scroll;
    /* overflow-y: scroll; */
}

.recipe-detail-content {
    padding: 20px 20px;
}

.recipe_box {
    display: flex;
    padding: 0px 50px;
    margin-top: 30px;
}

.recipe_items {
    width: 80%;
    height: 50vh;
    background: saddlebrown;
    /* position: fixed; */
    overflow-y: scroll;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}


.recipe_item {
    padding: 20px;
}

.recipe_item ul li {
    text-transform: uppercase;
}

.recipe_item h2 {
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 0 20px white;
}

.heading_meals {
    text-align: center;
    letter-spacing: 2px;
}

.Recipename {
    line-height: 62px;
    text-align: center;
    text-transform: uppercase;
    /* margin-bottom: 30px; */
    text-underline-offset: 10px;
    text-decoration: underline;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 20px white;
    margin: 0px 10px 20px;

}


.ingredientunderline {
    text-underline-offset: 10px;
    text-decoration: underline;
    margin-bottom: 30px;

}

.menu-closebtn {
    background-color: saddlebrown;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    position: sticky;
    top: 26px;
    left: 370px
}

p {
    line-height: 30px;
    white-space: pre-line;
}

.spinner {
    width: 200px;
    height: auto;
}

/* code responsive */


@media screen and (max-width: 375px) {
    .menu-closebtn {
        left: 230px
    }
}



@media screen and (max-width: 360px) {

    .recipe-detail {
        width: 90%;
        height: 50%;

    }

    .menu-closebtn {
        left: 220px
    }

    form .Searchbar {
        width: 13rem;
    }

    .menu-closebtn {
        left: 280px
    }
}

@media screen and (max-width: 384px) {

    .menu-closebtn {
        left: 290px
    }
}



@media screen and (max-width: 375px) {
    .recipe-detail {
        width: 90%;
        height: 50%;

    }

    .divadd {
        width: 100%;
    }

    .menu-closebtn {
        left: 280px
    }
}


@media screen and (max-width: 390px) {

    .menu-closebtn {
        left: 300px
    }
}

@media screen and (max-width: 428px) {

    .menu-closebtn {
        left: 330px
    }

    .recipe-detail {
        width: 90%;
        height: 50%;

    }

    .divadd {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {

    .menu-closebtn {
        left: 290px
    }

    .recipe-detail {
        width: 90%;
        height: 50%;

    }

    .divadd {
        width: 100%;
    }
}

@media screen and (max-width: 412px) {

    .recipe-container {
        padding: 5px 30px;
    }

    .divadd {
        width: 100%;
    }

    .menu-closebtn {
        left: 300px
    }
}

@media screen and (max-width: 360px) {

    .recipe-detail {
        width: 90%;
        height: 50%;

    }

    .menu-closebtn {
        left: 220px
    }

    form .Searchbar {
        width: 13rem;
    }

    .menu-closebtn {
        left: 265px
    }
}

@media screen and (max-width: 384px) {

    .menu-closebtn {
        left: 285px
    }
}

@media screen and (max-width: 414px) {
    .recipe-detail {
        width: 90%;
        height: 50%;

    }

    .divadd {
        width: 100%;
    }

    .menu-closebtn {
        left: 315px
    }
}

@media screen and (max-width: 390px) {
    .menu-closebtn {
        left: 285px
    }
}

@media screen and (max-width: 600px) {
    header {
        padding: 10px 0;
    }

    header nav {
        flex-direction: column;
    }

    header nav form {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 80%;
    }

    .recipe_box {
        display: flex;
        flex-direction: column;

    }
}

@media screen and (max-width: 810px) {
    .divadd {
        width: 30%;
    }

    .menu-closebtn {
        left: 505px
    }

    .recipe-detail {
        width: 70%;
        height: 40%;

    }

    form .Searchbar {
        width: 13rem;
    }

    header nav h1 {
        font-size: 2rem;
    }

    .recipe_box {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .recipe_items {
        width: 80%;
        height: 50vh;
    }

}

@media screen and (max-width: 375px) {

    .menu-closebtn {
        left: 290px
    }

    .recipe-detail {
        width: 90%;
        height: 50%;

    }

    .divadd {
        width: 100%;
    }

    .recipe_items {
        width: 100%;
    }
}

@media screen and (max-width: 414px) {
    .recipe-detail {
        width: 90%;
        height: 50%;

    }

    .divadd {
        width: 100%;
    }

    .menu-closebtn {
        left: 315px
    }

    .recipe_items {
        width: 100%;
        margin-top: 30px;
    }

    .heading_meals h5 {
        padding: 0 20px;
        line-height: 30px;
    }

    .recipe_box {
        padding: 0px 20px;
    }

    .recipe-block {
        padding: 0px;
    }
}

@media screen and (max-width: 428px) {
    .recipe_items {
        width: 100%;
        margin-top: 30px;
    }

    .heading_meals h5 {
        padding: 0 20px;
        line-height: 30px;
    }

    .recipe_box {
        padding: 0px 20px;
    }

    .recipe-block {
        padding: 0px;
    }
}

@media screen and (max-width: 412px) {

    .recipe-container {
        padding: 20px 30px;
    }

    .divadd {
        width: 100%;
    }

    .recipe-detail {
        width: 90%;
        height: 50%;

    }

    .menu-closebtn {
        left: 315px
    }

    .recipe-block {
        padding: 0px;
    }

    .recipe_box {
        padding: 0px 20px;
    }

    .heading_meals h5 {
        padding: 0 20px;
        line-height: 30px;
    }

    .recipe_items {
        width: 100%;
        height: 50vh;
        margin: 40px 0px;
    }
}